.wrapper_contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  
}

.delete_button {
  font-size: 16px;
  font-weight: 500px;
  letter-spacing: 1px;
  padding: 10px 20px 13px;
  outline: 0;
  border: 1px solid rgb(82, 62, 182);
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  color: black;
  transition: transform 0.3s ease;
  color: rgb(82, 62, 182);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}

.delete_button:focus,
.delete_button:hover {
  transform: scale(1.1);
}